/*------ 16. Breadcrumb style  --------*/


.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
  --bs-breadcrumb-divider-color: #00bfff; /* Azul bonito */
  --bs-breadcrumb-item-active-color: #2c3e50; /* Gris grafito (oscuro) */
  --bs-breadcrumb-item-padding-x: 15px;
  justify-content: center;

  &-item {
    color: #2c3e50; /* Gris grafito */
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;

    a {
      color: inherit;
    }
  }
}
