/* ====================================
   Variables Globales
===================================== */
$theme-color: #ff4b2b;
$lg-layout: 992px;
$xs-layout: 575px;

/* ====================================
   Importar Fuente
===================================== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");

.login-container {
  * {
    box-sizing: border-box;
  }

  font-family: "Poppins", sans-serif;
  background: #f6f5f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: -20px 0 50px;

  h1 {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  span {
    font-size: 12px;
  }

  a {
    color: #228be6;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }

  #red {
    color: red;
  }

  .container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 1000px;
    min-height: 580px;
    padding: 20px;
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;

    form {
      background: #fff;
      display: flex;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      .form-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 20px;
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
      }

      .form-grid input {
        background: #eee;
        border: none;
        padding: 14px 20px;
        width: 105%;
        border-radius: 6px;
        font-size: 14px;
        text-align: left;
      }
    }

    input {
      background: #eee;
      border: none;
      padding: 16px 22px;
      margin: 10px 0;
      width: 95%;
      border-radius: 6px;
      font-size: 14px;
    }
  }

  .social-container {
    margin: 20px 0;

    a {
      border: 1px solid #ddd;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
    }
  }

  button {
    border-radius: 20px;
    border: 1px solid #40E0D0;
    background: #40E0D0;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 16px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 25px;

    &:active {
      transform: scale(0.95);
    }

    &:focus {
      outline: none;
    }

    &.ghost {
      background: transparent;
      border-color: #fff;
    }

    &.btn-lila {
      background: #be4bdb;
      border: 1px solid #be4bdb;
      color: #fff;

      &:hover {
        background: darken(#be4bdb, 10%);
        border-color: darken(#be4bdb, 10%);
      }

      &.ghost {
        background: transparent;
        border: 1px solid #be4bdb;
        color: #be4bdb;

        &:hover {
          background: #be4bdb;
          color: #fff;
        }
      }
    }

    &.btn-turquesa {
      background: #40E0D0;
      border: 1px solid #40E0D0;
      color: #fff;

      &:hover {
        background: darken(#40E0D0, 10%);
        border-color: darken(#40E0D0, 10%);
      }

      &.ghost {
        background: transparent;
        border: 1px solid #40E0D0;
        color: #40E0D0;

        &:hover {
          background: #40E0D0;
          color: #fff;
        }
      }
    }
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  .overlay {
    background: #40E0D0;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .overlay-left {
    background: #be4bdb;
    transition: transform 0.6s ease-in-out;
  }

  .container.right-panel-active {
    .sign-in-container {
      transform: translateX(100%);
    }
    .overlay-container {
      transform: translateX(-100%);
    }
    .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
    }
    .overlay {
      transform: translateX(50%);
    }
    .overlay-left {
      transform: translateX(0);
    }
    .overlay-right {
      transform: translateX(20%);
    }
  }
}
