// Paleta principal
$primary-color: #6c63ff;         // Lila principal
$secondary-color: #fbbf24;       // Amarillo
$accent-color: #00bfff;          // Azul brillante
$text-color: #1d1b4f;            // Texto principal

// Fondos
$background-color: #ffffff;
$info-background: #2d2a69;
$form-background: #f9f9f9;

// Botones
$btn-primary-bg: $primary-color;
$btn-secondary-bg: $secondary-color;
$btn-accent-bg: $accent-color;
$btn-text-color: #ffffff;

// Sombras
$box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

// Tipografía
$font-family: 'Poppins', sans-serif;
