@import "../node_modules/bootstrap/scss/bootstrap";

@import "../node_modules/react-modal-video/scss/modal-video.scss";

@import "../css/icons.min.css";

@import "variables";
@import "helper";
@import "common";
@import "preloader";
@import "header";
@import "slider";
@import "support";
@import "section-title";
@import "product";
@import "blog";
@import "footer";
@import "banner";
@import "suscribe";
@import "about";
@import "image-slider";
@import "testimonial";
@import "brand-logo";
@import "timers";
@import "breadcrumb";
@import "sidebar";
@import "shop";
@import "product-details";
@import "cart";
@import "compare";
@import "checkout";
@import "contact";
@import "blog-details";
@import "login-register";
@import "my-account";
@import "404";
@import "video-popup";

.hover-bg-light:hover {
  background-color: #f0f0f0;
}

.swal-popup-override {
  z-index: 1600 !important;
}

/* Fuerza a que el popup de SweetAlert esté por encima del Dialog */
.swal2-container {
  z-index: 2000 !important;
}

