# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
_gsdata_

2024-08-24T00_00_00_23_0_de_GAMP030629RI0_a_XAXX010101000.pdf
azogqksx_tiendasEnLinea.sql
tiendaTAE.pdf
tiendaTAE.sql